body {
    margin: 0;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
  }
  
  div {
    position: relative;
  }
  
  .fondo {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .texto {
    position: absolute;
    top: 10px; /* Ajusta el valor según sea necesario para la posición vertical */
    left: 50%; /* Centra el texto horizontalmente */
    transform: translateX(-50%); /* Centra el texto horizontalmente */
    color: white; /* Cambia el color del texto a blanco */
    font-size: 170px; 
  }

  .php{
    position: absolute;
    width: 500px;
    height: 400px;
    right: 0;
    bottom: 0;
  }
  